.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 388px;
    height: 480px;

    @media (min-width: 600px) {
        flex-direction: row;
        width: 630px;
        height: 560px;
    }
}
.bigImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 388px;
    height: 388px;
    margin-bottom: 16px;
    background-color: var(--back-color);

    @media (min-width: 600px) {
        width: 524px;
        height: 524px;
    }
}
.bigImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.smallImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.imageList {
    display: flex;

    @media (min-width: 600px) {
        flex-direction: column;
        margin-right: 20px;
    }
}
.imageListItem {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: var(--back-color);
    cursor: pointer;

    &:not(:last-child) {
        margin: 0 16px 0 0;
    }

    @media (min-width: 600px) {
        width: 86px;
        height: 86px;

        &:not(:last-child) {
            margin: 0 0 20px;
        }
    }
}
