.title {
    font-size: 1.5rem ;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px 12px;
    width: 100%;
}
.input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    background-color: var(--primary-color);
    padding: 11px 21px 11px 21px;
    margin: 0 0 24px 0;
}
.label {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    padding: 0 0 14px 0;
}
.labelStar {
    color: var(--accent-red-color);
}
.bottomMenuWrap {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 428px;
    margin: 0 auto;
    padding: 48px 0 0;
}
.link{
    text-decoration: none;
    color: var(--neutral-color);
}