.list {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    max-width: 250px;
    overflow-y: scroll;
    border: 1px solid var(--devider-color);
    border-radius: 5px;
    padding: 6px;
    background-color: var(--white-color);
    z-index: 10;
}
.listItem {
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--back-color);
        color: var(--neutral-color);
    }
    &:not(:last-child) {
        border-bottom: 1px solid var(--devider-color);
    }
}
.listItemSelected {
    background-color: var(--neutral-color);
    color: var(--primary-color);
}
.input {
    width: 100%;
    border: 1px solid var(--devider-color);
    border-radius: 5px;
    padding: 5px;
}
.container {
    position: relative;
}
