.nav {
    width: 100%;
}
.list {
    display: flex;
    justify-content:flex-start;
}
.listItem {
    font-weight: 700;
    color: var(--divider-color);
}
.listItemActive {
    font-weight: 700;
    color: var(--neutral-color);
}
.link {
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;

    @media (min-width: 600px) {
        font-size: 1.5rem;
    }

}
.activeLink {
    cursor: text;
}
.span {
    margin: 0 5px;
}