html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--neutral-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul,li,ol {
    margin: 0;
    padding: 0;
}
