:root {
    --primary-color: #F8F8F8;
    --divider-color: rgba(2, 4, 15, 0.4);
    --neutral-color: #272727;
    --accent-red-color: #BB0A21;
    --pale-pink-color: #F0D8D5;
    --back-color: #E6E6E6;
    --light-grey-trans-color: rgba(248, 248, 248, 0.5);
    --white-color: #fff;
    --reviews-color: #FFC700;
    --green-color: #008c0c;
    --placeholder-color: #6c6c6c;
    --aaa: #999
}