:root {
    --primary-color: #F8F8F8;
    --devider-color: rgba(2, 4, 15, 0.4);
    --neutral-color: #272727;
    --secondaty-color: #F0D8D5;
    --pale-pink-color: #F0D8D5;
    --back-color: #E6E6E6;
    --light-grey-trans-color: rgba(248, 248, 248, 0.5);
    --white-color: #fff;
    --reviews-color: #FFC700;
}