.container {
    max-width: 100%;
}
.titleImageWrap {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 600px) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
.article {
    font-weight: 700;
}
.articleWrap {
    padding: 24px 0 24px;
}
.priceWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0;
}
.btnWrap {
    display: flex;
    padding: 24px 0 24px;
}


