.list {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    width: 200px;
    overflow-y: scroll;
    border: 1px solid var(--devider-color);
    border-radius: 5px;
    padding: 6px;
}
.listItem {
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--back-color);
    }
    &:not(:last-child) {
        border-bottom: 1px solid var(--devider-color);
    }
}
.input {
    width: 200px;
    border: 1px solid var(--devider-color);
    border-radius: 5px;
    margin: 0 0 5px 0;
}