.section {
    max-width: 1240px;
    padding: 36px 0 0;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background-color: var(--neutral-color);
    padding: 40px 64px;
    border-radius: 10px;
    color: var(--primary-color);

    @media (min-width: 600px) {
        flex-direction: row;
        align-items: center;
    }
}
.item {
    display: flex;
    min-width: 200px;

    &:not(:last-child) {
        margin: 0 0 26px;
    }

    @media (min-width: 600px) {
        flex-direction: column;
        align-items: center;
        padding: 0 20px 0;

        &:not(:last-child) {
            margin: 0;
        }
    }
}
.text {
    text-align: left;
    font-weight: 700;

    @media (min-width: 600px) {
        text-align: center;
    }
}
.icon {
    width: 26px;
    height: 26px;
    color: var(--primary-color);
    margin: 0 20px 0 0;

    @media (min-width: 600px) {
        margin: 0 0 20px;
    }
}
